* {
	margin: 0px;
	padding: 0px;
	font-family: "Myriad Pro";
}
a:hover{
	text-decoration: none;
}
.padding-left-0 {
	padding-left: 0px;
}
.panel-bg-fix {
	background-color: transparent;
	border: transparent;
}
.form-control:focus{
	color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgba(0,123,255,.25)
}
.div-play {
	background-image: url('../img/play-button.png');
    background-position: center;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 32%;
    left: 42%;
}
.div-hide-video {
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 404px;
	width: 100%;
}

.panel-bg-fix .panel-header {
	background-color: transparent;
	border: transparent;
}
.panel-title {
	margin: 5px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
.panel-title span {
	border-bottom: 4px solid #e14f3b;
}
.panel-success .panel-bg {
	background-color: #fff;
    border-color: #fff;
}
.content-post ul {
	padding-left: 0px;
}
.image-list {
	width: 100%;
	max-height: 190px;
}
.pad-all p {
	padding-left: 15px;
}
.menu-footer ul .active-li-footer a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.bg-color .panel{
	background-color: rgba(243, 233, 237, 0.58);
}
.image-file-fix{
	width: 120px;
	height: 120px;
}
.active-li {
	background-color: #2d6d92;
}
.fix-panel {
	min-height: 450px;
}
.fix-thumbnail {
	min-height: 250px;
	max-height: 250px;
    overflow: hidden;
}

.fix-thumbnail img{
	min-height: 250px;
}
.fix-height-img-album {
	height: 280px;
	overflow: hidden;
	position: relative;
}
.caption-img {
	position: absolute;
	bottom: 0px;
	background-color: #fff;
	width: 100%;
}
.active-li a {
	color: #fff;	
}
.post-content .title{
	font-weight: 600;
}
.con-index-news .breadcrumb-fix {
    font-weight: bold;
    font-size: 12px;
    margin: 0px 2px;
    margin-bottom: 15px;
    font-style: oblique;
    text-transform: initial;
    padding-top: 15px;
}

.style-home {
	color: blue;
	font-size: 15px;
}
.fa-chevron-up:before {
    content: "\f077";
 }
.text-title-content {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 40px;
}
.content-news .title {
	font-weight: bold;
	color: #e200bc;
	text-transform: uppercase;
}
.content-news span {
	font-size: 11px;
    color: #f74df2;
}
.lq {
	margin-top: 20px;
}
.new img{
	height: 300px;
}

.content-lq .title {
	font-weight: bold;
	color: #e200bc;
	text-transform: uppercase;
}
.content-lq span{
	font-size: 11px;
    color: #f74df2;
}
.go-up a {
    background-color: #db3762;
    -webkit-border-radius: 0;
    color: white;
    display: inline-block;
    line-height: 33pt;
	width: 33pt;
    height: 33pt;
    opacity: 0;
}
.go-up .show {
    opacity: 1;
}
.go-up {
	right: 6.75pt;
	z-index: 999;
	text-align: center;
	bottom: 6.75pt;
	margin-bottom: 0;
	position: fixed;
}
body {
	background: #7fb967;
}
.padding-0 {
	padding: 0px;
}
.magin-0{
	margin: 0px;
}
#bg-header {
	height: 340px;
	background: url(../img/image.jpg) no-repeat top center;
	position: relative;
}
#hottel {
	height: 40px;
	background-color: #22c3d4;
}
.logo {
	display: inline;
	z-index: 10;
	margin-top: 10px;
}
.fix-margin{
	margin-left: -17%;
	margin-top: 3%;
}
.fix-nav ul{
		margin: 0;
	    padding: 0;
	    border: 0;
	    list-style: none;
	    line-height: 1;
	    display: block;
	    position: relative;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
.fix-nav ul li {
	 margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

.menu-header {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#277d00, #81ba69); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#277d00, #81ba69); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#277d00, #81ba69); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#277d00, #81ba69); /* Standard syntax */
}

.fix-nav ul> li {
	float: left;
	border-left: 2px dashed #fff;
}
.fix-nav ul li a {
    padding: 17px;
    font-size: 12px;
    width: 100%;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height:58px;
} 
.fix-nav ul li:first-child {
	border: none;
}
.fix-nav ul li:last-child {
	border-right: 2px dashed #fff;
}
#video-home {
	background-color: #000;
}
.button-video-play {
	width: 50px;
	height: 50px;
	z-index: 1000;
	background: url(../img/image.jpg) no-repeat top center;
}

.slider-image-t {
	margin-top: 10px;
}

footer {
	background-color: #68b4f0;
	margin-top:20px;
	overflow: auto;
	color: #fff;
}
footer .department {
	padding:0px;
}
footer .container p span{
	font-weight: bold;
	font-size: 15px;
}
footer h3{
	font-weight: bold;
	padding-bottom: 20px;
}
footer ul li {
	list-style: none;
}
.menu-footer ul li a{
	color: #fff;

}
.image-footer {
	min-height: 340px;
	background: url(../img/footer.png) no-repeat bottom center;
	position: relative;
	overflow: auto;
}
.menu-footer ul li a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.fix-nav .bg-nav{
	background-color: rgba(38, 173, 245, 0.81);
	border:rgba(38, 173, 245, 0.81);
	height: 58px;
}

.fix-nav .icon {
	display: none;
}

[class^="col-"]:not(.pad-no) {
    padding-left: 12px;
    padding-right: 12px;
}

#nav-menu-icon{
		position: absolute;
	    top: 10px;
	    right: 10px;
	    z-index: 1000;

}
.menu-left ul .active-li-sp {
	background-color: #f0f0f0;
}
.menu-left ul .active-li-sp a {
	color: #337ab7;
}
.button-icon-nav {
	color: rgb(253, 0, 0);
    border: none;
    background: rgb(222, 216, 135);
}
.fix-slider-product {
	width: 233.5px;
    margin-right: 10px;
}

.fix-slider-product img{
	width: 100%;
	height: 155px;
    margin-right: 10px;
}

.album-image {
	margin-top: 15px;
}
.fix-backdrop {
	opacity: 0;
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 768px) {
	.fix-nav .icon {
		font-weight: 700;
	    padding: 10px;
	    float: right;
	    font-size: 30px;
	    display: block;
	    cursor: pointer;
	}
	.nav-bar-ul ul li a {
		display: block;
	    background: linear-gradient(#3e3e3e, #383838);
	    border-top: 1px solid #484848;
	    border-bottom: 1px solid #2E2E2E;
	    color: white;
	    padding: 15px;
	}
	.fix-nav .bg-nav{
		background-color: transparent;
		border: none;
		height: 100%;
	}
	.fix-nav ul li:last-child {
		border-right: none;
	}
	.nav-bar-ul{
		display: none;
	}
	.nav-bar-ul {
		position: fixed;
	    width: 250px;
	    left: 0px;
	    top: 0px;
	    z-index: 100;
	    min-height: 100%;	
	    background: linear-gradient(#3e3e3e, #383838);
	    overflow-y: auto;
	}
	.fix-nav .nav-bar-ul li {
		width: 250px;
		border: none;
	}
	.hotline {
		margin-bottom:150px;
	}
	footer .department, .menu-footer, .hotline {
		padding: 0px;
	}
	.new img {
		height: 200px;
	}
	
}
@media (max-width: 768px) and (min-width: 506px) { 
	.image-list {
		max-height: 350px;
	}
	.fix-nav .icon {
		font-weight: 700;
	    padding: 10px;
	    float: right;
	    font-size: 30px;
	    display: block;
	    cursor: pointer;
	}
	.nav-bar-ul ul li a {
		display: block;
	    background: linear-gradient(#3e3e3e, #383838);
	    border-top: 1px solid #484848;
	    border-bottom: 1px solid #2E2E2E;
	    color: white;
	    padding: 15px;
	}
	.fix-nav .bg-nav{
		background-color: transparent;
		border: none;
		height: 100%;
	}
	.fix-nav ul li:last-child {
		border-right: none;
	}
	.nav-bar-ul{
		display: none;
	}
	.nav-bar-ul {
		position: fixed;
	    width: 250px;
	    left: 0px;
	    top: 0px;
	    z-index: 100;
	    min-height: 100%;	
	    background: linear-gradient(#3e3e3e, #383838);
	    overflow-y: auto;
	}
	.fix-nav .nav-bar-ul li {
		width: 250px;
		border: none;
	}
	.hotline {
		margin-bottom:150px;
	}
	footer .department, .menu-footer, .hotline {
		padding: 0px;
	}
	.new img {
		height: 200px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) { 
	.nav-bg{
		background-color: #00c6e6;
		border: #00c6e6;
	}
	.image-list {
		width: 100%;
		max-height: 400px;
	}
	.fix-nav .icon {
		display: none;
	}
	.fix-nav ul li a {
		padding: 6px;
		font-size: 12px;
		width: 50px;
		letter-spacing: 1px;
		text-decoration: none;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 58px;
	}
	.menu-footer h3, ul{
		padding-left: 10%;
	}
	
	.new img{
		height: 200px;
	}


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.nav-bg{
		background-color: #00c6e6;
		border: #00c6e6;
	}
	.fix-nav .icon {
		display: none;
	}
	.fix-nav ul li{
		min-width: 100px;
	}
	.menu-footer h3, ul{
		padding-left: 25%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.nav-bg {
		background-color: #00c6e6;
		border: #00c6e6;	
	}
	.fix-nav ul li a{
		padding: 20px 30px;
	}
	.menu-footer h3, ul{
		padding-left: 25%;
	}
	.fix-nav .icon {
		display: none;
	}
}
li {
	list-style: none;
}
.menu-left ul {
	padding-left:0px;
	background-color: rgba(38, 173, 245, 0.81);
	border: 1px rgba(38, 173, 245, 0.81) solid;
	border-radius: 10px;
}

.menu-left ul li{
	padding:10px 0px;
}
.menu-left ul li:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.menu-left ul li a{
	color: #fff;
	font-weight: 600;
	padding:10px 0px;
	display: block;
	width: 100%;
}
.menu-left ul li:hover a{
	text-decoration: none;
	color: #337ab7;
}
.menu-left ul li:hover {
	background-color: #f1f1f1;

}
.menu-left ul .active-li:hover {
	background-color:  rgb(37, 125, 177);
	color:#fff;
}
.menu-left ul .active-li:hover a{
	color:#fff;
}
.panel-fix {
	background: transparent;
}
.active-li {
	background-color: #2d6d92;
}
.content-main {
	background: #fff;
    border-radius: 5px;
}

.content-post {
	background-color: #eee;
	padding: 0px;
	margin:20px 0px;
}
.form-lh {
	margin: 30px 0px;
}
.button-fix {
	margin-right: 8%;
}
.title-tt{
	text-transform: uppercase;
    font-weight: 600;
    color: rgb(226, 153, 14);
    font-size: 17px;
}
.date-post {
	font-style: italic;
    color: rgba(185, 183, 183, 0.93);
    font-size: 13px;
    padding: 0px;
}
.padding-left-right{
	padding-left: 0px;
	padding-right: 0px;
}
.content-list {
	padding-bottom: 10px;
	border-bottom: 1px solid #d85656;
	margin-bottom: 15px; 
}
.boder-fix-content {
	border-left: 2px dashed #af7777;
}
.button-dk {
	margin-top: 10px;
	margin-bottom: 25px;
}
.fc-toolbar .fc-left button {
	cursor: pointer;
    padding: 6px 12px;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.42857;
    height: auto;
    vertical-align: middle;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: all .25s;
    transition: all .25s;
    text-transform: capitalize;
    background-image: none;
    background-color: #fbfbfb;
    border: 1px solid #cdd6e1;
    color: #515151;
}
.fc-toolbar .fc-right button {
	cursor: pointer;
    padding: 6px 12px;
    border-radius: 0;
    font-size: 12px;
    line-height: 1.42857;
    height: auto;
    vertical-align: middle;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: all .25s;
    transition: all .25s;
    text-transform: capitalize;
    background-image: none;
    background-color: #fbfbfb;
    border: 1px solid #cdd6e1;
    color: #515151;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.hide {
    display: none;
}
